@import url('https://fonts.googleapis.com/css?family=Nunito+Sans');
* {margin: 0;
	padding:0;
	box-sizing: border-box;
}

body{
	font-family:Nunito Sans;
}
img{display: block;
	width: 100%;
}

header {
	padding: 20px;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

header .column {
	width: 50%;
}

header .column:last-child {
	display: flex;
	justify-content: flex-end;
	align-items: center;
}


#healthsystemlogo {
	width: 100%;
	max-width: 300px;
}

.headerlink {
	color: black;
	font-size: 1em;
	padding-left: 1em;
	text-decoration: none;
}

#secondarynav {
	background: #f8f8f8;
	padding: 20px 0;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

#secondarynav .column:last-child {
	display: flex;
	align-items: center;
}

.navlink {
	text-decoration: none;
	color: #2e4da0;
	font-size: 1em;
	padding: 0 20px;
}

.navlink:hover {
	color: #4a8ad4;
}

#smallsearch {
	width: 50px;
	height: 38px;
	background: transparent url(../images/smallsearch.png) no-repeat center center;
	background-size: 100% auto;
	text-indent: -999999em;
	display: inline-block;
	margin-left: 20px;
	margin-right: 20px;
}

#mayohomelogo {
	width: 25%;
	align-content: center;
}

.homeoption {
	color: #1A2D5F;
	font-size: 1.5em;
	text-decoration: none;
	float: left;
}


.navlink {
	color: #2E4DA0;
	font-size: 1em;
}

#hero {
	position: relative;
	margin-bottom: 50px;
}

.herobuttoncontainer {
	position: absolute;
	top:50%;
	left:50%;
	transform: translate(-50%,-50%);
	display: flex;
	width:60%;
}

.herobutton{
	color: grey;
	font-weight: bold;
	font-size: 1.5em;
	text-decoration: none;
	display: block;
	background: blue;
	padding: 10px;
	margin: 10px;
	width: 50%;
	white-space: nowrap;
}

.clearfix:after{
content:"";
display:block;
clear:both;
}

.textside {
	color: #6678A9;
	padding: 20px;
}

.imageright,.imageleft {
	display: flex;
	justify-content: center;
	align-items: center;
}

.imageleft {
	flex-direction: row-reverse;
}


.textside,.imageside {
	width: 50%;
}

#socialbuttons {
	width: 15%;
}

footer {
	color: #003DA5;
	height: 80px;
}

@media (max-width: 768px) {
	.textside,.imageside {
		width:100%;
	}
	.imageleft,.imageright {
		flex-direction: column;
		flex-wrap: wrap;
		flex-direction: column-reverse;
	}
}

