@import url('https://fonts.googleapis.com/css?family=Nunito+Sans');
* {margin: 0;
	padding:0;
	box-sizing: border-box;
}
body{
	font-family:Nunito Sans;
}
img{display: block;
	width: 100%;
}

.clearfix:after{
content:"";
display:block;
clear:both;
}


.textside,.imageside {
	width: 50%;
}

.imageleft .imageside{
	float:left;
}
.imageleft .textside{
	float:right;
}
.imageright .imageside{
	float:right;
}
.imageright .textside{
	float:left;
}